.profile__info {
    max-width: 336px;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto auto;
}


@media (max-width: 800px) {
    .profile__info {
        justify-content: center;

    }
}