

@import url(./vendor/normalize.css);
/* @import url(./fonts/fonts.css); */

@import url(./blocks/page/page.css);

body {
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "Inter", sans-serif; */
  background-color: #000000;
  margin: 0 auto;
  max-width: 880px;
}

@import url(./blocks/header/header.css);

@import url(./blocks/profile/profile.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/elements__list.css);


@import url(./blocks/element/element.css);

@import url(./blocks/popup/popup.css);

@import url(./blocks/profile/__add-button/profile__add-button.css);

@import url(./blocks/element/__like-icon/element__like-icon.css);

@import url(./blocks/footer/footer.css);


@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__member-area/header__member-area.css);
@import url(./blocks/header/__menu-item/header__menu-item.css);

@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);

@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__edit-icon/profile__edit-icon.css);

@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__button/auth__button.css);
@import url(./blocks/auth/__form/auth__form.css);
@import url(./blocks/auth/__info/auth__info.css);
@import url(./blocks/auth/__input/auth__input.css);
@import url(./blocks/auth/__label/auth__label.css);
@import url(./blocks/auth/__link/auth__link.css);
@import url(./blocks/auth/__register/auth__register.css);
@import url(./blocks/auth/__status-icon/auth__status-icon.css);
@import url(./blocks/auth/__status-text/auth__status-text.css);
@import url(./blocks/auth/__title-form/auth__title-form.css);

@import url(./blocks/profile/__add-button-icon/profile__add-button-icon.css);

@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__title/element__title.css);

@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__delite-button/element__delite-button.css);
@import url(./blocks/element/__delite-icon/element__delite-icon.css);
@import url(./blocks/element/__like-count/element__like-count.css);
@import url(./blocks/element/__like-field/element__like-field.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/_image-card/popup_image-card.css);

@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__forms/popup__forms.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/_border_error/popup__input_border_error.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/__button/_active/popup__button_active.css);
@import url(./blocks/popup/__button/_loading/popup__button_loading.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__close-icon/popup__close-icon.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__auth-containet/popup__auth-containet.css);
@import url(./blocks/popup/__title-confirm/popup__title-confirm.css);
@import url(./blocks/popup/__button-confirm/popup__button-confirm.css);
